{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(221, 229, 221);"><b>📞Contact-Us📞</b>
        </h1>
        <p class="lead" style="font-weight: 500;color: rgb(230, 237, 231);">For Any Queries & Suggestions Contact Us. We
            Are Happy To
            Help.</p>
    </div>
</div>



<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <center>
            <h2>Designed by</h2>
        </center>
        <center>
            <center>
                <pre>
                    <h3>Vishal Palve   | ✉️ vishalpalve30@gmail.com    | 📞 8530414983</h3>
                    <h3>Milind Pushpam | ✉️ milindpushpam02@gmail.com  | 📞 8862996261</h3>
                    <h3>Shruti Shahane | ✉️ shrutishahane163@gmail.com | 📞 9545254514</h3>
                    <h3>Prerna Pawar   | ✉️ prerna.p1604@gmail.com     | 📞 9870889263</h3>
                </pre>
            </center>
            <p class="lead" style="font-weight: 350;">
            </p>
        </center>
    </div>
</div>
</div>


{% endblock body %}